{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {;; Start a plain REPL
  :repl {:main-opts ["-r"]}

  ;; Run tests via the runner ns (no -e quoting headaches)
  :test {:extra-paths ["test"]
         :main-opts ["-m" "test-runner"]}

  ;; Run your app
  :run  {:main-opts ["-m" "decision-agent.core"]}}}
