{:paths ["src"]
 :deps {org.clojure/clojure        {:mvn/version "1.11.3"}
        metosin/jsonista           {:mvn/version "0.3.13"}
        org.babashka/http-client   {:mvn/version "0.4.23"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
